---
layout: default
---

<div class="hero-slider">
  <div class="slider-item th-fullpage hero-area" style="background-image: url(images/slider/slider-1.jpg);">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 text-center">
          <p data-duration-in=".3" data-animation-in="fadeInUp" data-delay-in=".1">PRODUCTS</p>
          <h1 data-duration-in=".3" data-animation-in="fadeInUp" data-delay-in=".5">The beauty of nature <br> is hidden
            in details.</h1>
          <a data-duration-in=".3" data-animation-in="fadeInUp" data-delay-in=".8" class="btn" href="/shop">Shop
            Now</a>
        </div>
      </div>
    </div>
  </div>
  <div class="slider-item th-fullpage hero-area" style="background-image: url(images/slider/slider-3.jpg);">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 text-right">
          <p data-duration-in=".3" data-animation-in="fadeInUp" data-delay-in=".1">Papier Mache</p>
          <h1 data-duration-in=".3" data-animation-in="fadeInUp" data-delay-in=".5">Browse exquisite <br> Paper Mache
            products.</h1>
          <a data-duration-in=".3" data-animation-in="fadeInUp" data-delay-in=".8" class="btn" href="/papermache">Shop
            Now</a>
        </div>
      </div>
    </div>
  </div>
  <div class="slider-item th-fullpage hero-area" style="background-image: url(images/slider/slider-4.jpg);">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 text-right">
          <p data-duration-in=".3" data-animation-in="fadeInUp" data-delay-in=".1">Crewel</p>
          <h1 data-duration-in=".3" data-animation-in="fadeInUp" data-delay-in=".5">Shop for authentic<br> Crewel
            embroidery artwork.</h1>
          <a data-duration-in=".3" data-animation-in="fadeInUp" data-delay-in=".8" class="btn" href="/criwel">Shop
            Now</a>
        </div>
      </div>
    </div>
  </div>
  <div class="slider-item th-fullpage hero-area" style="background-image: url(images/slider/slider-5.jpg);">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 text-center">
          <p data-duration-in=".3" data-animation-in="fadeInUp" data-delay-in=".1">About us</p>
          <h1 data-duration-in=".3" data-animation-in="fadeInUp" data-delay-in=".5">Read more about <br> Kawoosa Arts &
            Crafts.</h1>
          <a data-duration-in=".3" data-animation-in="fadeInUp" data-delay-in=".8" class="btn" href="/about">About
            Us</a>
        </div>
      </div>
    </div>
  </div>
  <div class="slider-item th-fullpage hero-area" style="background-image: url(images/slider/slider-6.jpg);">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 text-center">
          <p data-duration-in=".3" data-animation-in="fadeInUp" data-delay-in=".1">Contact</p>
          <h1 data-duration-in=".3" data-animation-in="fadeInUp" data-delay-in=".5">Have any Queries?<br> Get in touch with us.</h1>
          <a data-duration-in=".3" data-animation-in="fadeInUp" data-delay-in=".8" class="btn" href="/contact">Contact Us</a>
        </div>
      </div>
    </div>
  </div>
  <div class="slider-item th-fullpage hero-area" style="background-image: url(images/slider/slider-7.jpg);">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 text-right">
          <p data-duration-in=".3" data-animation-in="fadeInUp" data-delay-in=".1">Instagram</p>
          <h1 data-duration-in=".3" data-animation-in="fadeInUp" data-delay-in=".5">Visit out page <br> on Instagram.</h1>
          <a data-duration-in=".3" data-animation-in="fadeInUp" data-delay-in=".8" class="btn" href="https://www.instagram.com/kawoosaartsandcrafts/">Instagram</a>
        </div>
      </div>
    </div>
  </div>
</div>

<section class="product-category section" style="padding-bottom: 0px;">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="title text-center">
          <h2>Product Category</h2>
        </div>
      </div>
      <div class="col-md-6">
        <div class="category-box">
          <a href="/carpets">
            <img src="images/shop/category/category-1.jpg" alt="" />
            <div class="content mainpagecat" >
              <h3>Browse Carpets</h3>
              <p>Shop Authentic Kashmiri Carpets</p>
            </div>
          </a>
        </div>
        <div class="category-box">
          <a href="/criwel">
            <img src="images/shop/category/category-2.jpg" alt="" />
            <div class="content mainpagecat">
              <h3>Crewel</h3>
              <p>Shop Kashmiri Criwel embroidery</p>
            </div>
          </a>
        </div>
      </div>
      <div class="col-md-6">
        <div class="category-box category-box-2">
          <a href="/shop">
            <img src="images/shop/category/category-3.jpg" alt="" />
            <div class="content mainpagecat">
              <h3>Papier Mache</h3>
              <p>Browse Kashmiri Paper Mache products</p>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="products section bg-gray" style="padding-top: 30px;">
  <div class="container">
    <div class="row">
      <div class="title text-center">
        <h2>Latest Products</h2>
      </div>
    </div>
    <div class="row">

      {% for product in site.posts limit:3 %}
      {% capture product_id_tag %}{{ product.unique_id }}{% endcapture %}
      {% capture product_id_tag_hash %}#{{ product_id_tag }}{% endcapture %}

      <div class="col-md-4">
        <div class="product-item">
          <div class="product-thumb" data-toggle="modal" data-target="{{ product_id_tag_hash }}">
            {% capture full_img_path %}images/shop/products/{{ product.img_folder }}/{{ product.img_primary }}{%
            endcapture %}
            <img class="img-responsive" src="{{ full_img_path }}" alt="product-img"
              style="height: 350px; object-fit: cover;" />
            <div class="preview-meta">
              <ul>
                <li>
                  <span>
                    <i class="tf-ion-ios-search-strong"></i>
                  </span>
                </li>
              </ul>
            </div>
          </div>
          <div class="product-content">
            <h4><a href="{{ site.baseurl }}{{ product.url }}">{{ product.name }}</a></h4>
          </div>
        </div>
      </div>

      <!-- Modal -->
      <div class="modal product-modal fade" id="{{ product_id_tag }}">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <i class="tf-ion-close"></i>
        </button>
        <div class="modal-dialog " role="document">
          <div class="modal-content">
            <div class="modal-body">
              <div class="row">
                <div class="col-md-8 col-sm-6 col-xs-12">
                  <div class="modal-image">
                    <img class="img-responsive" src="{{ full_img_path }}" alt="product-img" />
                  </div>
                </div>
                <div class="col-md-4 col-sm-6 col-xs-12">
                  <div class="product-short-details">
                    <h2 class="product-title">{{ product.name }}</h2>
                    <p class="product-price" style="font-size: 1.2em;">{{ product.materials }}</p>
                    <p class="product-short-description">
                      {{ product.description }}
                    </p>
                    <a href="{{ site.baseurl }}{{ product.url }}" class="btn btn-main" style="font-weight: bold;">View
                      Product Details</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div><!-- /.modal -->

      {% endfor %}

    </div>
    <div class="row">

      {% for product in site.posts limit:3 offset:3 %}
      {% capture product_id_tag %}{{ product.unique_id }}{% endcapture %}
      {% capture product_id_tag_hash %}#{{ product_id_tag }}{% endcapture %}

      <div class="col-md-4">
        <div class="product-item">
          <div class="product-thumb" data-toggle="modal" data-target="{{ product_id_tag_hash }}">
            {% capture full_img_path %}images/shop/products/{{ product.img_folder }}/{{ product.img_primary }}{%
            endcapture %}
            <img class="img-responsive" src="{{ full_img_path }}" alt="product-img"
              style="height: 350px; object-fit: cover;" />
            <div class="preview-meta">
              <ul>
                <li>
                  <span>
                    <i class="tf-ion-ios-search-strong"></i>
                  </span>
                </li>
              </ul>
            </div>
          </div>
          <div class="product-content">
            <h4><a href="{{ site.baseurl }}{{ product.url }}">{{ product.name }}</a></h4>
          </div>
        </div>
      </div>

      <!-- Modal -->
      <div class="modal product-modal fade" id="{{ product_id_tag }}">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <i class="tf-ion-close"></i>
        </button>
        <div class="modal-dialog " role="document">
          <div class="modal-content">
            <div class="modal-body">
              <div class="row">
                <div class="col-md-8 col-sm-6 col-xs-12">
                  <div class="modal-image">
                    <img class="img-responsive" src="{{ full_img_path }}" alt="product-img" />
                  </div>
                </div>
                <div class="col-md-4 col-sm-6 col-xs-12">
                  <div class="product-short-details">
                    <h2 class="product-title">{{ product.name }}</h2>
                    <p class="product-price" style="font-size: 1.2em;">{{ product.materials }}</p>
                    <p class="product-short-description">
                      {{ product.description }}
                    </p>
                    <a href="{{ site.baseurl }}{{ product.url }}" class="btn btn-main" style="font-weight: bold;">View
                      Product Details</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div><!-- /.modal -->

      {% endfor %}

    </div>
    <div class="row">

      {% for product in site.posts limit:3 offset:6 %}
      {% capture product_id_tag %}{{ product.unique_id }}{% endcapture %}
      {% capture product_id_tag_hash %}#{{ product_id_tag }}{% endcapture %}

      <div class="col-md-4">
        <div class="product-item">
          <div class="product-thumb" data-toggle="modal" data-target="{{ product_id_tag_hash }}">
            {% capture full_img_path %}images/shop/products/{{ product.img_folder }}/{{ product.img_primary }}{%
            endcapture %}
            <img class="img-responsive" src="{{ full_img_path }}" alt="product-img"
              style="height: 350px; object-fit: cover;" />
            <div class="preview-meta">
              <ul>
                <li>
                  <span>
                    <i class="tf-ion-ios-search-strong"></i>
                  </span>
                </li>
              </ul>
            </div>
          </div>
          <div class="product-content">
            <h4><a href="{{ site.baseurl }}{{ product.url }}">{{ product.name }}</a></h4>
          </div>
        </div>
      </div>

      <!-- Modal -->
      <div class="modal product-modal fade" id="{{ product_id_tag }}">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <i class="tf-ion-close"></i>
        </button>
        <div class="modal-dialog " role="document">
          <div class="modal-content">
            <div class="modal-body">
              <div class="row">
                <div class="col-md-8 col-sm-6 col-xs-12">
                  <div class="modal-image">
                    <img class="img-responsive" src="{{ full_img_path }}" alt="product-img" />
                  </div>
                </div>
                <div class="col-md-4 col-sm-6 col-xs-12">
                  <div class="product-short-details">
                    <h2 class="product-title">{{ product.name }}</h2>
                    <p class="product-price" style="font-size: 1.2em;">{{ product.materials }}</p>
                    <p class="product-short-description">
                      {{ product.description }}
                    </p>
                    <a href="{{ site.baseurl }}{{ product.url }}" class="btn btn-main" style="font-weight: bold;">View
                      Product Details</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div><!-- /.modal -->

      {% endfor %}

    </div>
  </div>
</section>
<div>

  <div class="row" style="text-align: center;">
    <a href="/shop" class="btn btn-main" style="font-weight: bold; margin:auto;">Browse All Products</a>
  </div>

  <section class="call-to-action bg-gray section">
    <div class="container">
      <div class="row">
        <div class="col-md-12 text-center">
          <div class="title">
            <h2>REACH OUT TO US</h2>
            <p>Have any enquiries about the products, sales or anything else? <br />Leave us your email and we will get
              in touch with you.
            </p>
          </div>
          <div class="col-lg-6 col-md-offset-3">
            <form id="contact-form" action="https://formspree.io/f/xwkarwkb" method="POST" role="form">
              <div class="input-group subscription-form">
                <input type="email" class="form-control" name="CustomerEmail" placeholder="Enter Your Email Address" required>
                <span class="input-group-btn">
                  <button class="btn btn-main" type="submit">Get in Touch!</button>
                </span>

              </div><!-- /input-group -->
            </form>
          </div><!-- /.col-lg-6 -->

        </div>
      </div> <!-- End row -->
    </div> <!-- End container -->
  </section> <!-- End section -->


  </body>

  </html>